@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-slate-100 font-normal;
    font-family: "roboto";
    overscroll-behavior: none;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
